/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mockingbird Theme by Nevan Scott nevanscott.com */

body {
	font-family: "Shuei Mincho M", Georgia, serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #444;
	background-color: #f8f8f8;
	background-image: url("../img/cubes.png")
	}
#header, #wrapper, #controls ul {
	width: 80%;
	margin: 0 auto;
	padding: 0 20px;
	}

a {
	text-decoration: none;
	color: #000;
	}
p a {
	text-decoration: underline;
	}

ul {
	list-style: outside disc;
        }

ol {
	list-style: outside decimal;
        }

h1, h2, h3, h4, h5, h6 {
	font-family: "Shuei MaruGo L", sans-serif;
	font-weight: bold;
	}
h1, h2, h3 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 1em 0;
	}
p, h4, h5, h6 {
	margin: 1.5em 0;
	}
blockquote{
  display:block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1px 20px 1px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: 'Reimin Y10 Light', Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow - (Optional)*/
  box-shadow: 2px 2px 15px #ccc;
}
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

blockquote cite{
  font-size: smaller;
}

.date {
	color: #C45F5F;
	float: left;
	clear: both;
	width: 160px;
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 0 20px 1em 0;
	}
.post {
	margin: 0 0 4.5em 180px;
	}
.post.archives {
    margin-top: 1.8em;
	margin-bottom: 1.5em;
    font-family: "Shuei MaruGo L";
	}
.post.archives li {
    list-style-type: none;
}
.post.pinned {
	clear: both;
	margin-left: 0;
	margin-bottom: 3em;
	background-color: #EEE;
	color: #000;
	padding: 1px 20px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	}
.info {
	font-family: sans-serif;
	text-align: right;
	color: #CCC;
	}
.info a {
	color: inherit;
	}
.info .tags a {
    background: #CCC;
    color: #FFF;
    display: inline-block;
    padding: 0 .3em;
    border: 1px transparent solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    }
.info .tags a:hover {
    background: inherit;
	color: inherit;
    }
.info .tags a.selected {
    border: 1px #999 solid;
    }

.post .controls {
	float: left;
	visibility: hidden;
	}
.post:hover .controls {
	visibility: visible;
	}

.page {
	margin: 0 90px;
	}

div.codehilite {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}


code, pre {
	font-family: monospace;
	background-color: rgb(238, 238, 238);
}

/*sub and sup stolen from Twitter bootstrap.*/
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.post pre, .page pre {
	padding: .5em;
	font-size: 12px;
	font-family: Monospace;
	line-height: 1.1em;
	}

form.inline_edit {
	clear: both;
	margin: 4.5em 0;
	background-color: #DDD;
	color: #000;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
.inline_edit .sub {
	color: #888;
	white-space: nowrap;
	}
.inline_edit label {
	float: left;
	clear: both;
	width: 140px;
	margin-right: 20px;
	}
.inline_edit .buttons {
	display: block;
	text-align: right;
	}

#nav {
	float: right;
	list-style: none;
	margin: 0 0 0 3em;
	padding: 0;
	font-family: sans-serif;
	}
#nav li {
	float: left;
	}
#nav a {
	display: block;
	padding: 4.5em 10px 10px 10px;
    font-family: "Shuei MaruGo L", sans-serif;
	}
#nav a:hover {
	background-color: #DDD;
	}
#nav li.selected a {
	background-color: #FF9206;
	color: #F8F8F8;
	}
#nav li.ephemeral.selected a {
	background-color: #FFF;
	color: #BBB;
	}


#header .header_box {
	padding-top: 4.5em;
	}
#header h1 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 0;
	}
#header h2 {
	font-size: 1em;
	margin: .3em 0;
	color: #DDD;
	}

#header #site_title { color: #C0A160; }
#header #site_subtitle {
	color: #BD9E77;
	font-weight: lighter;
	}

#content {
	margin-top: 3em;
	}

.pages {
	font-family: sans-serif;
	line-height: 2.5em;
	margin: 4.5em 0 3em;
	background-color: #EEE;
	color: #444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
.pages a.next_page {
	float: right;
	width: 140px;
	text-align: center;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	}
.pages a.prev_page {
	float: left;
	width: 140px;
	text-align: center;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	}
.pages a {
	color: inherit;
	border: none;
	}
.pages a:hover {
	background-color: #DDD;
	}
.pages span {
	display: block;
	margin: 0 160px;
	text-align: center;
	}

#footer {
	font-family: sans-serif;
	line-height: 2.5em;
	text-align: center;
	color: #CCC;
	margin: 3em 0;
	border: 1px solid #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
#footer a { color: inherit; }
#footer p { margin: 0; }

.right { float: right; }

.clear { clear: both; }
